.page {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../img/bg/main_bg.jpg);
  background-size: cover;
}
.main {
  height: 100%;
  display: flex;
  padding-top: 54px;
  padding-bottom: 71px;
}
.main-wrapper {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);

  padding: 31px 60px 38px;
  margin: auto;
}
.menu {
  padding: 18px 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.menu-wrapper {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  transition: 0.3s;
}
.logo-link:hover {
  color: rgb(35, 109, 71);
}
.menu-item {
  margin-left: 25px;
  padding: 0;
  display: flex;
  align-self: center;
}

.icon-svg {
  margin-right: 26px;
  fill: white;
  transition: fill 0.3s;
}

.icon-svg:hover {
  fill: rgb(35, 109, 71);
}
.menu-item:nth-child(1):after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
.menu-text,
.menu-link {
  font-family: Verdana, sant-serif;
  margin: auto;
  margin-right: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  transition: color 0.3s ease;
}
.menu-link:hover {
  color: rgb(35, 109, 71);
}

.title-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title-header {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.title-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #3cb878;
  transition: 0.4s;
}
.title-link:hover {
  color: #01813f;
  text-decoration: underline;
}
.title-header::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -60px;
  top: 1px;
  background: #3cb878;
}

.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.facebook-btn,
.google-btn {
  border-style: none;
  outline: none;
  outline-width: 1px;
  position: relative;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.facebook-btn {
  padding: 12px 22px 12px 17px;
  background-color: #305db8;
  transition: background-color 0.6s ease;
}
.facebook-btn:hover {
  background-color: #022263;
}
.google-btn {
  margin-left: 4px;
  padding: 15px 27px 14px 12px;
  background-color: #df4a32;
  transition: background-color 0.6s ease;
}
.google-btn:hover {
  background-color: #ab1f09;
}
.facebook-btn::before,
.google-btn::before {
  content: "";
  position: absolute;
  left: 48px;
  top: 10px;
  width: 1px;
  height: 28px;
  background: #0a162f;
  opacity: 0.1;
}
.social-links-text {
  margin-left: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.subtitle {
  position: relative;
  margin-top: 31px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #848484;
}
.subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 150px;
  height: 1px;
  background: #f2f2f2;
}
.subtitle::after {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  width: 150px;
  height: 1px;
  background: #f2f2f2;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__element {
  font-family: "Verdana", sant-serif;
  margin-bottom: 15px;
  padding: 15px 0 15px 20px;

  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.form__element:focus {
  outline-style: none;
  outline-width: 1px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bebebe;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bebebe;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bebebe;
}
:-ms-input-placeholder {
  color: #bebebe;
}
.form__label-checkbox {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.form__label-checkbox span {
  margin-left: 5px;
  color: rgb(84, 193, 137);
  font-family: "Verdana", sans-serif;
  transition: 0.4s;
}
.form__label-checkbox span:hover {
  color: rgb(38, 147, 91);
  text-decoration: underline;
}

.form__element-checkbox {
  display: none;
}
.form__label-checkbox::before {
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 1px;
  margin-right: 11px;
  cursor: pointer;
}
.form__element-checkbox:checked + .form__label-checkbox::before {
  background-image: url(../img/checkbox/Vector.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
.form__element-checkbox {
  margin-right: 11px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.form__element-btn {
  margin-bottom: 0;
  margin-top: 20px;
  padding: 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(60, 184, 120, 0.8);
  border: none;
  outline-style: none;
  outline-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.form__element-btn:hover {
  background-color: #01813f;
}

.change-color {
  margin: 0 auto;
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(60, 184, 120, 0.8);
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
}
