.main-wrapper-white-theme,
.form__element-white-theme {
  background-color: #fff;
  color: rgba(12, 12, 12, 0.9);
}
.form__element-white-theme {
  border: 1px solid #f2f2f2;
}

.title-header-white-theme,
.form__label-checkbox-white-theme {
  color: #434343;
}
